<div class="cotainer">
  <h1 class="text-center mt-3">SNOW PARK LEGENDS</h1>

   <div class="col-10">
     <div class="card text-center" style="max-width: 800px;">
      <img class="img-card" src="assets/top4.jpeg" alt="">
       <div class="card-img-overlay col">
         <p class="text-brack text-center d-flex align-items-center justify-content-center" style="height:250px;">
            ようこそsnow park legendsへ<br>
            ここではどこにも載っていないスキー場の情報を<br>
            皆さんに発信してもらい、皆さんで共有してもらうサイトです。<br>
         </p>
       </div>
     </div>
   </div>
   <div class="text-center">
     <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn-btn-success", method: :post %>
   </div>
  <div class="row mt-4 ">
  <div class="col-4 max-width: 100%;">
    <a href="#" class="thumbnail">
      <div class="image">
        <img src="assets/ski.png" class="img img-responsive full-width" />
      </div>
    </a>
  </div>

  <div class="col-4">
    <a href="#" class="thumbnail">
      <div class="image">
        <img src="assets/top6.jpeg" class="img img-responsive full-width" />
      </div>
    </a>
  </div>

  <div class="col-4">
    <a href="#" class="thumbnail">
      <div class="image">
        <img src="assets/top9.png" class="img img-responsive full-width" />
      </div>
    </a>
  </div>
</div>

</div>