<div class="cotainer">
  <h1 class="text-center mt-3">SNOW PARK LEGENDS</h1>

   <div class="col-10">
     <div class="card text-center" style="max-width: 800px;">
      <img class="img-card d-block mb-3" src="assets/top4.jpeg" alt="">
       <div class="card-img-overlay col">
         <p class="text-brack text-center d-flex align-items-center justify-content-center" style="height:250px;">
            ようこそsnow park legendsへ<br>
            ここではどこにも載っていないスキー場の情報を<br>
            皆さんに発信してもらい、皆さんで共有してもらうサイトです。<br>
         </p>
       </div>
     </div>
   </div>
   <div class="text-center mt-3 mb-3">
     <%#= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-success", method: :post %>
   </div>
   <div class="row d-flex ml-4 text-center">
     <%= render "public/favorites/ranks", favorite_ranks: @favorite_ranks, followers_ranks: @followers_ranks %>
   </div>
</div>