<div class="container">
  <h1 class="text-center mt-3">SNOW PARK LEGENDS</h1>

   <div class="text-center ml-5">
     <div class="card ml-5" style="max-width: 800px;">
       <%= image_tag asset_path('top4.jpg', :width =>'112', :height =>'auto', :alt => '画像') %>
       <div class="card-img-overlay col">
         <p class="text-brack text-center d-flex align-items-center justify-content-center" style="height:250px;">
            ようこそsnow park legendsへ<br>
            ここではどこにも載っていないスキー場の情報を<br>
            皆さんに発信してもらい、皆さんで共有してもらうサイトです。<br>
         </p>
       </div>
     </div>
   </div>
   <div class="text-center mt-3 mb-3">
     <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-success sign_in" %>
   </div>
   <div class="row d-flex ml-4 text-center">
     <%= render "public/favorites/ranks", favorite_ranks: @favorite_ranks, followers_ranks: @followers_ranks %>
   </div>
</div>