<div class="container">
  <h2>投稿編集</h2>
  　<%= form_with model: @tweet do |f| %>
   <div class="form-group">
     <label>タイトル</label>
      <%= f.text_field :title %>
   </div>

   <div class="form-group">
     <label>投稿内容</label>
      <%= f.text_area :body %>
   </div>

   <div class="form-group">
     <%= f.submit'更新', class:"btn btn-success" %>
     <% end %>
   </div>

</div>