  <div class="container">
   <h3>いいね一覧</h3>
    <table class="table table-stripe">
      <thead>
        <tr>
          <th>会員画像</th>
          <th>タイトル</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to tweet.user.name, user_path(tweet.user.id) %>
          </td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-heart unlike-btn"></i>
            <%= tweet.favorites.length %>
            <%= link_to tweet.title, tweet_path(tweet.id) %>
          </td>
        </tr>
      </tbody>
    </table>