@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


h1, h2, h3, h4, h5, h6{
  font-family: 'Kosugi Maru', 'Meiryo', sans-serif;
}

.add-font{
  font-family: 'Kosugi Maru', 'Meiryo', sans-serif;
}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.image img{
  position:absolute;
}
