<footer class="fixed-bottom alert-info text-center text-secondary ">
  <div class="container align-items-end ">
    <div class="mx-auto p-2">
       © 2023 snow park legends
    </div>
  </div>
</footer>